# Claim Compare Current Pull with Last Submission

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
file_name = 'HP_Claim'

path_prev_EZCAP = f'../../data/past_submission/{file_name}_EZCAP_20210921.txt'
path_prev_KS = f'../../data/past_submission/{file_name}_KS_20210921.txt'
path_now = f'../../output/{file_name}_20211108.txt'

dtype = {'provnbr':str, 'rev':str, 'units':str, 'provspec':str, 'billtype':str, 'pos':str}

df_prev_EZCAP = pd.read_csv(path_prev_EZCAP, sep='|', low_memory=False, dtype=dtype)
df_prev_KS = pd.read_csv(path_prev_KS, sep='|', low_memory=False, dtype=dtype)

df_prev = pd.concat([df_prev_EZCAP, df_prev_KS], ignore_index=True)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [3]:
print(df_prev.shape)
display(df_prev.head(3))

(723770, 55)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind,cpt-ii,cpt-iimod
0,8DF6AA4HU60,19010201800002500001,1,10/09/2018,10/09/2018,1205988854,99,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,0322,NaN,12,NaN,NaN,NaN,10,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN,NaN,NaN
1,8DF6AA4HU60,19010201800002500001,2,10/10/2018,10/10/2018,1205988854,99,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,0322,NaN,12,NaN,NaN,NaN,10,NaN,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN,NaN,NaN
2,8DF6AA4HU60,19010201800002500001,3,10/11/2018,10/11/2018,1205988854,99,G0151,NaN,NaN,NaN,NaN,NaN,0421,NaN,0322,NaN,12,NaN,NaN,NaN,10,NaN,NaN,G8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,3,P,NaN,NaN,NaN

In [4]:
print(df.shape)
display(df.head(3))

(802440, 53)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind
0,1A99UU1KN20,100103847,1,01/04/2020,NaN,1578763462,NaN,1CFK3,NaN,NaN,NaN,NaN,NaN,0023,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN
1,1A99UU1KN20,100103847,2,01/05/2020,NaN,1578763462,NaN,G0299,NaN,NaN,NaN,NaN,NaN,0551,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN
2,1A99UU1KN20,100103847,3,01/06/2020,NaN,1578763462,NaN,G0299,NaN,NaN,NaN,NaN,NaN,0551,NaN,NaN,NaN,32,NaN,NaN,NaN,10,E11621,L97522,Z4800,I739,E1140,I129,E1121,N182,E669,Z6830,Z7984,61,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN

In [5]:
df_inspect = df[['claimid', 'fromdt']].drop_duplicates()\
    .merge(df_prev[['claimid']].drop_duplicates(), on='claimid', how='left', indicator=True)
df_inspect['year'] = df_inspect['fromdt'].str[-4:].astype(int)
df_inspect['month'] = df_inspect['fromdt'].str[:2].astype(int)

n = df_inspect.query('_merge == "left_only"')['claimid'].count()
print(f'Current submission not found in previous submission: {n}')
display(df_inspect.query('_merge == "left_only"').groupby(['year'])['claimid'].count().to_frame())
display(df_inspect.query('_merge == "left_only"').groupby(['year', 'month'])['claimid'].count().to_frame())

Current submission not found in previous submission: 25124

      claimid
year
1900       47
2017       20
2018     5570
2019       24
2020      819
2021    18644

            claimid
year month
1900 1           47
2017 4            2
     7            1
     8            1
     9            1
     10           2
     12          13
2018 1          714
     2          454
     3          648
     4          610
     5          715
     6          746
     7          645
     8          494
     9          290
     10         252
     11           2
2019 1           14
     2            1
     9            1
     10           1
     11           2
     12           5
2020 1           19
     2           11
     3           11
     4           84
     5           43
     6           41
     7           56
     8           42
     9           71
     10         143
     11         160
     12         138
2021 1          206
     2          356
     3          477
     4          530
     5          644
     6          865
     7         1578
     8         3866
     9         7285
     10        2834
     11           3

In [6]:
df_inspect = df_prev[['claimid', 'fromdt']].drop_duplicates()\
    .merge(df[['claimid']].drop_duplicates(), on='claimid', how='left', indicator=True)
df_inspect['year'] = df_inspect['fromdt'].str[-4:].astype(int)
df_inspect['month'] = df_inspect['fromdt'].str[:2].astype(int)

n = df_inspect.query('_merge == "left_only"')['claimid'].count()
print(f'Previous submission not found in current submission: {n}')
display(df_inspect.query('_merge == "left_only"').groupby(['year'])['claimid'].count().to_frame())
display(df_inspect.query('_merge == "left_only"').groupby(['year', 'month'])['claimid'].count().to_frame())

Previous submission not found in current submission: 0

Empty DataFrame
Columns: [claimid]
Index: []

Empty DataFrame
Columns: [claimid]
Index: []

# Unmatched Memberships - CDC
October submission sees extra members go into denominator for CDC measure.  
Need to investigate why that's the case.  
  
Lifan/Bridget suspect that there's new claims coming in that "qualify" these members for denominator.  
There were no new claims in October and neither are these members in the Membership reconcilition list.
  
It looks like the KS claims are showing up (from encounter db) that needs additional investigation:  
* why didn't they show up before?
* should they show up?

In [24]:
# for CDC
memnbr = '7E59G71FF10'

# new claims not in Sept submission (top 5)
df_sept_only = df.query(f'memnbr == "{memnbr}"')\
    .merge(df_prev[['claimid']], on='claimid', how='left', indicator=True)\
    .query('_merge == "left_only"')\
    .sort_values(by=['claimid', 'linenbr'])

df_sept_only.head(3)

Empty DataFrame
Columns: [memnbr, claimid, linenbr, fromdt, thrudt, provnbr, provspec, cpt, cptmod1, cptmod2, hcpcs, cpt_ii, cpt_iimod, rev, drg, billtype, factype, pos, tos, dsc, occ_code, icd_format, diag1, diag2, diag3, diag4, diag5, diag6, diag7, diag8, diag9, diag10, diag11, diag12, diag13, diag14, diag15, diag16, diag17, diag18, diag19, diag20, surgproc1, surgproc2, surgproc3, surgproc4, surgproc5, surgproc6, claim_status, covered_days, units, source, src_ind, _merge]
Index: []

In [20]:
df.query(f'memnbr == "{memnbr}"').shape

(68, 53)

In [21]:
df_prev.query(f'memnbr == "{memnbr}"').shape

(68, 55)

In [25]:
# claims in both submissions (top 5)
df_in_both = df.query(f'memnbr == "{memnbr}"')\
    .merge(df_prev[['claimid', 'linenbr']], on=['claimid', 'linenbr'], how='inner', indicator=True)\
    .query('_merge == "both"')\
    .drop_duplicates()

df_in_both.head(3)

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind,_merge
0,7E59G71FF10,H849A21CC,1,06/24/2020,NaN,1003038860,99,73562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,M1712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both
1,7E59G71FF10,H849BDB11,1,02/29/2020,NaN,1548294267,1,99490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,I10,E7849,F209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both
2,7E59G71FF10,H849BDE30,1,01/14/2020,NaN,1548294267,1,99213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,T7840XD,I10,E785,G40909,Z6842,F209,F322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both

In [26]:
# CPT code for claims in October claims only and not in Septs
# if CPT code meet eligible criteria, that explains why these members become eligible
list_icd = df_sept_only['cpt'].unique()

for icd in list_icd:
    print(icd)

In [31]:
list_icd = df_in_both['diag1'].unique()

list_icd = [str(icd) for icd in list_icd]
list_icd.sort()

for icd in list_icd:
    print(icd)

B80
D0502
E1165
E1169
E785
F322
G40909
G894
I10
L259
M159
M1712
M2550
N390
R451
T7840XD
Z1231
nan

# Unmatched Memberships - TRC
October submission sees extra members go into denominator for TRC measure.  
Need to investigate why that's the case.

In [14]:
# for TRC
memnbr = '2Q52XQ1TC25'

# new claims not in Sept submission (top 5)
df.query(f'memnbr == "{memnbr}"')\
    .merge(df_prev[['claimid']], on='claimid', how='left', indicator=True)\
    .query('_merge == "left_only"')\
    .sort_values(by=['claimid', 'linenbr'])

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind,_merge
67,2Q52XQ1TC25,H98EC6832,1,06/30/2020,NaN,1356389878,12,44970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,10,K3580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,left_only
68,2Q52XQ1TC25,H98EC6832,1,06/30/2020,NaN,1629289186,14,44970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,10,K3580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,left_only
69,2Q52XQ1TC25,H98EC6833,1,06/30/2020,NaN,1356389878,12,44970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,10,R1084,R110,K3580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,left_only
70,2Q52XQ1TC25,H98EC6833,1,06/30/2020,NaN,1831516095,14,44970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,10,R1084,R110,K3580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,left_only
71,2Q52XQ1TC25,H98EC6833,2,06/30/2020,NaN,1356389878,12,99284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,10,R1084,R110,K3580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,left_only
72,2Q52XQ1TC25,H98EC6833,2,06/30/2020,NaN,1831516095,14,99284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,10,R1084,R110,K3580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,left_only

In [15]:
# claims in both submissions (top 5)
df.query(f'memnbr == "{memnbr}"')\
    .merge(df_prev[['claimid', 'linenbr']], on=['claimid', 'linenbr'], how='inner', indicator=True)\
    .query('_merge == "both"')\
    .drop_duplicates()[:5]

,memnbr,claimid,linenbr,fromdt,thrudt,provnbr,provspec,cpt,cptmod1,cptmod2,hcpcs,cpt_ii,cpt_iimod,rev,drg,billtype,factype,pos,tos,dsc,occ_code,icd_format,diag1,diag2,diag3,diag4,diag5,diag6,diag7,diag8,diag9,diag10,diag11,diag12,diag13,diag14,diag15,diag16,diag17,diag18,diag19,diag20,surgproc1,surgproc2,surgproc3,surgproc4,surgproc5,surgproc6,claim_status,covered_days,units,source,src_ind,_merge
0,2Q52XQ1TC25,H871F4FAA,1,08/21/2020,NaN,1073507786,NaN,G0438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,Z0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both
1,2Q52XQ1TC25,H871F500A,1,08/21/2020,NaN,1073507786,NaN,99204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,J449,Z23,Z7689,E782,I10,E559,Z9049,D3A8,N3000,Z803,Z1239,Z1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both
2,2Q52XQ1TC25,H871F500A,2,08/21/2020,NaN,1073507786,NaN,4010F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,J449,Z23,Z7689,E782,I10,E559,Z9049,D3A8,N3000,Z803,Z1239,Z1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both
3,2Q52XQ1TC25,H871F500A,3,08/21/2020,NaN,1073507786,NaN,90732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,J449,Z23,Z7689,E782,I10,E559,Z9049,D3A8,N3000,Z803,Z1239,Z1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both
4,2Q52XQ1TC25,H871F500A,4,08/21/2020,NaN,1073507786,NaN,90471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,10,J449,Z23,Z7689,E782,I10,E559,Z9049,D3A8,N3000,Z803,Z1239,Z1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,1,1,P,NaN,both

In [18]:
# CPT code for claims in October claims only and not in Septs
# if CPT code meet eligible criteria, that explains why these members become eligible
list_icd = df.query(f'memnbr == "{memnbr}"')\
    .merge(df_prev[['claimid']], on='claimid', how='left', indicator=True)\
    .query('_merge == "left_only"')\
    .sort_values(by=['claimid', 'linenbr'])['cpt'].unique()

list_icd = [str(icd) for icd in list_icd]
list_icd.sort()

for icd in list_icd:
    print(icd)

44970
99284

In [90]:
df_prev.query('claimid == "H871F4FAA"')

Empty DataFrame
Columns: [memnbr, claimid, linenbr, fromdt, thrudt, provnbr, provspec, cpt, cptmod1, cptmod2, hcpcs, cpt_ii, cpt_iimod, rev, drg, billtype, factype, pos, tos, dsc, occ_code, icd_format, diag1, diag2, diag3, diag4, diag5, diag6, diag7, diag8, diag9, diag10, diag11, diag12, diag13, diag14, diag15, diag16, diag17, diag18, diag19, diag20, surgproc1, surgproc2, surgproc3, surgproc4, surgproc5, surgproc6, claim_status, covered_days, units, source, src_ind]
Index: []