# Provider Compare Current Pull with Last Submission

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
file_name = 'HP_Provider'

path_prev = f'../data/past_submission/{file_name}_20210921.txt'
path_now = f'../output/{file_name}_20211025.txt'

dtype = {'provfax1':str,
         'provspec1':str,
         'provspec2':str,
         'provspec3':str,
         'provspec4':str,
         'provspec5':str,
         'provspec6':str,
         'provspec7':str,
         'provspec8':str,
         'provspec9':str,
         'provspec10':str}

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False, dtype=dtype)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [3]:
print(df_prev.shape)
display(df_prev.head(3))

(88884, 29)

,provid,provlast,provfirst,npi,licnum,tin,site_id,sitename,provaddr1,provaddr2,provaddr3,provcity,provstate,provzip,provphone1,provphone2,provfax1,provfax2,prov_type,provspec1,provspec2,provspec3,provspec4,provspec5,provspec6,provspec7,provspec8,provspec9,provspec10
0,1003014952,FOREST ROAD HEALTH & WELLNESS CENTER,NaN,1003014952,NaN,NaN,NaN,NaN,193 FAIRVIEW LN,NaN,NaN,SONORA,CA,953704828,2.095365e+09,NaN,2095365108,NaN,SPECIALIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003024647,BIXBY KNOLLS DIALYSIS,NaN,1003024647,NaN,NaN,NaN,NaN,3744 LONG BEACH BLVD,NaN,NaN,LONG BEACH,CA,908073310,5.624241e+09,NaN,5624244310,NaN,ANCILLARY SERVICES PROVIDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003029372,TANAGHO,YOUSSEF,1003029372,NaN,NaN,NaN,NaN,8851 CENTER DR,STE 501,NaN,LA MESA,CA,919423017,6.196972e+09,NaN,8584297930,NaN,SPECIALIST,10,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df.shape)
display(df.head(3))

(92875, 29)

,provid,provlast,provfirst,npi,licnum,tin,site_id,sitename,provaddr1,provaddr2,provaddr3,provcity,provstate,provzip,provphone1,provphone2,provfax1,provfax2,prov_type,provspec1,provspec2,provspec3,provspec4,provspec5,provspec6,provspec7,provspec8,provspec9,provspec10
0,1003024647,DAVITA - BIXBY KNOLLS DIALYSIS,NaN,1003024647,NaN,NaN,NaN,NaN,3744 LONG BEACH BLVD,NaN,NaN,LONG BEACH,CA,908073310,5624241403,NaN,5624244310,NaN,ANCILLARY SERVICES PROVIDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003037508,SHMIDT,ERNEST,1003037508,NaN,NaN,NaN,NaN,1401 S GRAND AVE,NaN,NaN,LOS ANGELES,CA,900153010,2137482411,NaN,2137654097,NaN,SPECIALIST,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1003044553,AGARD,JENNIFER,1003044553,NaN,NaN,NaN,NaN,"55 FRANCISCO ST, STE 500",NaN,NaN,SAN FRANCISCO,CA,94133,4159259404,NaN,4154847045,NaN,SPECIALIST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_inspect = df[['npi']].drop_duplicates()\
    .merge(df_prev[['npi']].drop_duplicates(), on='npi', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['npi'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 3707

In [6]:
df_inspect['_merge'].value_counts()

both          80455
left_only      3707
right_only        0
Name: _merge, dtype: int64

In [7]:
df_inspect = df_prev[['npi']].drop_duplicates()\
    .merge(df[['npi']].drop_duplicates(), on='npi', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['npi'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 81

In [8]:
df_inspect['_merge'].value_counts()

both          80455
left_only        81
right_only        0
Name: _merge, dtype: int64