# Monthly Member Compare Current Pull with Last Submission

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
file_name = 'RX'

path_prev = f'../data/past_submission/HP_{file_name}_20210921.txt'
path_now = f'../output/HP_{file_name}_20211025.txt'

dtype = {'provnbr':str, 'pharm_npi':str}

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False, dtype=dtype)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [4]:
print(df_prev.shape)
display(df_prev.head(3))

(256713, 13)

,memnbr,claim_id,provnbr,pres_fill_dt,ndc,days_suppl,claim_status,metric_qty,disp_qty,prov_npi,pharm_npi,source,src_ind
0,NaN,3119954101280G,1427282516,20210128,57237004105,7,P,28000,28,1760779375,1427282516,P,NaN
1,NaN,3551583101293G,1427282516,20210129,29300034901,90,P,90000,90,1598795395,1427282516,P,NaN
2,NaN,3671413101292B,1427282516,20210129,88221905,12,P,6000,6,1881015162,1427282516,P,NaN

In [6]:
print(df.shape)
display(df.head(3))

(273222, 13)

,memnbr,claim_id,provnbr,pres_fill_dt,ndc,days_suppl,claim_status,metric_qty,disp_qty,prov_npi,pharm_npi,source,src_ind
0,NaN,3119954101280G,1427282516,20210128,57237004105,7,P,28000,28,1760779375,1427282516,P,NaN
1,NaN,3551583101293G,1427282516,20210129,29300034901,90,P,90000,90,1598795395,1427282516,P,NaN
2,NaN,3671413101292B,1427282516,20210129,88221905,12,P,6000,6,1881015162,1427282516,P,NaN

In [7]:
df_inspect = df[['claim_id']].drop_duplicates()\
    .merge(df_prev[['claim_id']].drop_duplicates(), on='claim_id', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['claim_id'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 16509

In [8]:
df_inspect['_merge'].value_counts()

both          256713
left_only      16509
right_only         0
Name: _merge, dtype: int64

In [9]:
df_inspect = df_prev[['claim_id']].drop_duplicates()\
    .merge(df[['claim_id']].drop_duplicates(), on='claim_id', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['claim_id'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 0

In [10]:
df_inspect['_merge'].value_counts()

both          256713
left_only          0
right_only         0
Name: _merge, dtype: int64