# Eligibility Compare Current Pull with Last Submission

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
file_name = 'Elig'

path_prev = f'../data/past_submission/HP_{file_name}_20210921.txt'
path_now = f'../output/HP_{file_name}_20211025.txt'

dtype = {'REP_POP_ID':str}

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False, dtype=dtype)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [6]:
print(df_prev.shape)
display(df_prev.head(3))

(15967, 18)

,memnbr,REP_POP_ID,PO_NBR,mcd_cat,SNPTYPE,elig_start,elig_end,delig_ind,hospice_ben,medical_ben,rx_ben,dental_ben,mh_inp_ben,mh_dn_ben,mh_outer_ben,cd_inp_ben,cd_dn_ben,cd_outer_ben
0,1A05CC7XY50,14129,NaN,NaN,7,20200101,20201231,P,N,Y,Y,Y,Y,Y,Y,Y,Y,Y
1,1A14RA9QG85,14129,NaN,NaN,9,20210901,20991231,P,N,Y,Y,Y,Y,Y,Y,Y,Y,Y
2,1A15GQ4GY59,99999,NaN,NaN,11,20210101,20991231,P,N,Y,Y,Y,Y,Y,Y,Y,Y,Y

In [9]:
print(df.shape)
display(df.head(3))

(16182, 18)

,memnbr,REP_POP_ID,PO_NBR,mcd_cat,SNPTYPE,elig_start,elig_end,delig_ind,hospice_ben,medical_ben,rx_ben,dental_ben,mh_inp_ben,mh_dn_ben,mh_outer_ben,cd_inp_ben,cd_dn_ben,cd_outer_ben
0,1A05CC7XY50,14129,NaN,NaN,7,20200101,20201231,P,N,Y,Y,Y,Y,Y,Y,Y,Y,Y
1,1A14RA9QG85,14129,NaN,NaN,9,20210901,20991231,P,N,Y,Y,Y,Y,Y,Y,Y,Y,Y
2,1A15GQ4GY59,99999,NaN,NaN,11,20210101,20991231,P,N,Y,Y,Y,Y,Y,Y,Y,Y,Y

In [10]:
df_inspect = df[['memnbr']].drop_duplicates()\
    .merge(df_prev[['memnbr']].drop_duplicates(), on='memnbr', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['memnbr'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 160

In [11]:
df_inspect['_merge'].value_counts()

both          11671
left_only       160
right_only        0
Name: _merge, dtype: int64

In [12]:
df_inspect = df_prev[['memnbr']].drop_duplicates()\
    .merge(df[['memnbr']].drop_duplicates(), on='memnbr', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['memnbr'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 14

In [13]:
df_inspect['_merge'].value_counts()

both          11671
left_only        14
right_only        0
Name: _merge, dtype: int64