# Monthly Member Compare Current Pull with Last Submission

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
file_name = 'Monthly_Mem_Data'

path_prev = f'../data/past_submission/HP_{file_name}_20210921.txt'
path_now = f'../output/HP_{file_name}_20211025.txt'

dtype = {'dbllis_premium':str, 'dblrep_pop_id':str}

df_prev = pd.read_csv(path_prev, sep='|', low_memory=False, dtype=dtype)
df = pd.read_csv(path_now, sep='|', low_memory=False, dtype=dtype)

In [3]:
print(df_prev.shape)
display(df_prev.head(3))

(113386, 9)

,dtmrun,dtmpayment,chvmemnbr,chvhospice,chvlti,dbllis_premium,dblorec,dblrep_pop_id,dblsrc_ind
0,20191207,202001,1A05CC7XY50,N,N,0,0,14129,NaN
1,20191207,202001,1A16G46QH85,N,N,0,0,14129,NaN
2,20191207,202001,1A22H95CE94,N,N,0,1,14129,NaN

In [4]:
print(df.shape)
display(df.head(3))

(119967, 9)

,dtmrun,dtmpayment,chvmemnbr,chvhospice,chvlti,dbllis_premium,dblorec,dblrep_pop_id,dblsrc_ind
0,20191207,202001,1A05CC7XY50,N,N,0,0,1010,NaN
1,20191207,202001,1A16G46QH85,N,N,0,0,1010,NaN
2,20191207,202001,1A22H95CE94,N,N,0,1,1010,NaN

In [5]:
df_inspect = df[['chvmemnbr']].drop_duplicates()\
    .merge(df_prev[['chvmemnbr']].drop_duplicates(), on='chvmemnbr', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['chvmemnbr'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 183

In [6]:
df_inspect['_merge'].value_counts()

both          11713
left_only       183
right_only        0
Name: _merge, dtype: int64

In [7]:
df_inspect = df_prev[['chvmemnbr']].drop_duplicates()\
    .merge(df[['chvmemnbr']].drop_duplicates(), on='chvmemnbr', how='left', indicator=True)

n = df_inspect.query('_merge == "left_only"')['chvmemnbr'].count()
print(f'Current submission not found in previous submission: {n}')

Current submission not found in previous submission: 0

In [8]:
df_inspect['_merge'].value_counts()

both          11713
left_only         0
right_only        0
Name: _merge, dtype: int64